<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <main>
        <div>
            <h1>Movies</h1>
            {% for movie in movie_list %}
            <div>
                <h2>{{movie.name}}</h2>
                <img src="{{ movie.picture }}">
                <p><Strong>Synopsis:</Strong> {{movie.synopsis}}</p>
                <p><strong>Released:</strong> {{movie.released}}</p>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
